<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>[[${welcome}]]</h1>

    <form th:action="@{/add-user}" th:object="${user}" method="post">
        <label>Nome</label>
        <input type="text" th:field="*{name}">

        <label>Email</label>
        <input type="email" th:field="*{email}">

        <button type="submit">Aggiungi</button>
    </form>

    <div th:each="user : ${all_users}">
        <a th:href="@{/user/} + ${user.id}"># [[${user.id}]]</a>
        <h4>[[${user.name}]]</h4>
        <p>[[${user.email}]]</p>
    </div>
</body>
</html>